// Notes!
// Sass color functions, "darken" and "lighten" are automatically replaced.

html {
  scrollbar-color: $ui-base-color rgba($ui-base-color, 0.25);
}

// Change the colors of button texts
.button {
  color: $white;

  &.button-alternative-2 {
    color: $white;
  }
}

.status-card__actions button,
.status-card__actions a {
  color: rgba($white, 0.8);

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

// Change default background colors of columns
.column > .scrollable,
.getting-started,
.column-inline-form,
.error-column,
.regeneration-indicator {
  background: $white;
  border: 1px solid lighten($ui-base-color, 8%);
  border-top: 0;
}

.directory__card__img {
  background: lighten($ui-base-color, 12%);
}

.filter-form,
.directory__card__bar {
  background: $white;
  border-bottom: 1px solid lighten($ui-base-color, 8%);
}

.scrollable .directory__list {
  width: calc(100% + 2px);
  margin-left: -1px;
  margin-right: -1px;
}

.directory__card,
.table-of-contents {
  border: 1px solid lighten($ui-base-color, 8%);
}

.column-back-button,
.column-header {
  background: $white;
  border: 1px solid lighten($ui-base-color, 8%);

  @media screen and (max-width: $no-gap-breakpoint) {
    border-top: 0;
  }

  &--slim-button {
    top: -50px;
    right: 0;
  }
}

.column-header__back-button,
.column-header__button,
.column-header__button.active,
.account__header__bar,
.directory__card__extra {
  background: $white;
}

.column-header__button.active {
  color: $ui-highlight-color;

  &:hover,
  &:active,
  &:focus {
    color: $ui-highlight-color;
    background: $white;
  }
}

.account__header__bar .avatar .account__avatar {
  border-color: $white;
}

.getting-started__footer a {
  color: $ui-secondary-color;
  text-decoration: underline;
}

.confirmation-modal__secondary-button,
.confirmation-modal__cancel-button,
.mute-modal__cancel-button,
.block-modal__cancel-button {
  color: lighten($ui-base-color, 26%);

  &:hover,
  &:focus,
  &:active {
    color: $primary-text-color;
  }
}

.column-subheading {
  background: darken($ui-base-color, 4%);
  border-bottom: 1px solid lighten($ui-base-color, 8%);
}

.getting-started,
.scrollable {
  .column-link {
    background: $white;
    border-bottom: 1px solid lighten($ui-base-color, 8%);

    &:hover,
    &:active,
    &:focus {
      background: $ui-base-color;
    }
  }
}

.getting-started .navigation-bar {
  border-top: 1px solid lighten($ui-base-color, 8%);
  border-bottom: 1px solid lighten($ui-base-color, 8%);

  @media screen and (max-width: $no-gap-breakpoint) {
    border-top: 0;
  }
}

.compose-form__autosuggest-wrapper,
.poll__option input[type="text"],
.compose-form .spoiler-input__input,
.compose-form__poll-wrapper select,
.search__input,
.setting-text,
.box-widget input[type="text"],
.box-widget input[type="email"],
.box-widget input[type="password"],
.box-widget textarea,
.statuses-grid .detailed-status,
.audio-player {
  border: 1px solid lighten($ui-base-color, 8%);
}

.search__input {
  @media screen and (max-width: $no-gap-breakpoint) {
    border-top: 0;
    border-bottom: 0;
  }
}

.list-editor .search .search__input {
  border-top: 0;
  border-bottom: 0;
}

.compose-form__poll-wrapper select {
  background: $simple-background-color url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color(lighten($ui-base-color, 8%))}'/></svg>") no-repeat right 8px center / auto 16px;
}

.compose-form__poll-wrapper,
.compose-form__poll-wrapper .poll__footer {
  border-top-color: lighten($ui-base-color, 8%);
}

.notification__filter-bar {
  border: 1px solid lighten($ui-base-color, 8%);
  border-top: 0;
}

.compose-form .compose-form__buttons-wrapper {
  background: $ui-base-color;
  border: 1px solid lighten($ui-base-color, 8%);
  border-top: 0;
}

.drawer__header,
.drawer__inner {
  background: $white;
  border: 1px solid lighten($ui-base-color, 8%);
}

.drawer__inner__mastodon {
  background: $white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z" fill="#{hex-color($ui-base-color)}"/></svg>') no-repeat bottom / 100% auto;
}

// Change the colors used in compose-form
.compose-form {
  .compose-form__modifiers {
    .compose-form__upload__actions .icon-button {
      color: lighten($white, 7%);

      &:active,
      &:focus,
      &:hover {
        color: $white;
      }
    }

    .compose-form__upload-description input {
      color: lighten($white, 7%);

      &::placeholder {
        color: lighten($white, 7%);
      }
    }
  }

  .compose-form__buttons-wrapper {
    background: darken($ui-base-color, 6%);
  }

  .autosuggest-textarea__suggestions {
    background: darken($ui-base-color, 6%);
  }

  .autosuggest-textarea__suggestions__item {
    &:hover,
    &:focus,
    &:active,
    &.selected {
      background: lighten($ui-base-color, 4%);
    }
  }
}

.emoji-mart-bar {
  border-color: lighten($ui-base-color, 4%);

  &:first-child {
    background: darken($ui-base-color, 6%);
  }
}

.emoji-mart-search input {
  background: rgba($ui-base-color, 0.3);
  border-color: $ui-base-color;
}

// Change the background colors of statuses
.focusable:focus {
  background: $ui-base-color;
}

.status.status-direct {
  background: lighten($ui-base-color, 4%);
}

.focusable:focus .status.status-direct {
  background: lighten($ui-base-color, 8%);
}

.detailed-status,
.detailed-status__action-bar {
  background: $white;
}

// Change the background colors of status__content__spoiler-link
.reply-indicator__content .status__content__spoiler-link,
.status__content .status__content__spoiler-link {
  background: $ui-base-color;

  &:hover {
    background: lighten($ui-base-color, 4%);
  }
}

// Change the background colors of media and video spoilers
.media-spoiler,
.video-player__spoiler {
  background: $ui-base-color;
}

.privacy-dropdown.active .privacy-dropdown__value.active .icon-button {
  color: $white;
}

.account-gallery__item a {
  background-color: $ui-base-color;
}

// Change the colors used in the dropdown menu
.dropdown-menu {
  background: $white;

  &__arrow {
    &.left {
      border-left-color: $white;
    }

    &.top {
      border-top-color: $white;
    }

    &.bottom {
      border-bottom-color: $white;
    }

    &.right {
      border-right-color: $white;
    }
  }

  &__item {
    a {
      background: $white;
      color: $darker-text-color;
    }
  }
}

// Change the text colors on inverted background
.privacy-dropdown__option.active,
.privacy-dropdown__option:hover,
.privacy-dropdown__option.active .privacy-dropdown__option__content,
.privacy-dropdown__option.active .privacy-dropdown__option__content strong,
.privacy-dropdown__option:hover .privacy-dropdown__option__content,
.privacy-dropdown__option:hover .privacy-dropdown__option__content strong,
.dropdown-menu__item a:active,
.dropdown-menu__item a:focus,
.dropdown-menu__item a:hover,
.actions-modal ul li:not(:empty) a.active,
.actions-modal ul li:not(:empty) a.active button,
.actions-modal ul li:not(:empty) a:active,
.actions-modal ul li:not(:empty) a:active button,
.actions-modal ul li:not(:empty) a:focus,
.actions-modal ul li:not(:empty) a:focus button,
.actions-modal ul li:not(:empty) a:hover,
.actions-modal ul li:not(:empty) a:hover button,
.admin-wrapper .sidebar ul .simple-navigation-active-leaf a,
.simple_form .block-button,
.simple_form .button,
.simple_form button {
  color: $white;
}

.dropdown-menu__separator {
  border-bottom-color: lighten($ui-base-color, 4%);
}

// Change the background colors of modals
.actions-modal,
.boost-modal,
.confirmation-modal,
.mute-modal,
.block-modal,
.report-modal,
.embed-modal,
.error-modal,
.onboarding-modal,
.report-modal__comment .setting-text__wrapper,
.report-modal__comment .setting-text {
  background: $white;
  border: 1px solid lighten($ui-base-color, 8%);
}

.report-modal__comment {
  border-right-color: lighten($ui-base-color, 8%);
}

.report-modal__container {
  border-top-color: lighten($ui-base-color, 8%);
}

.column-header__collapsible-inner {
  background: darken($ui-base-color, 4%);
  border: 1px solid lighten($ui-base-color, 8%);
  border-top: 0;
}

.focal-point__preview strong {
  color: $white;
}

.boost-modal__action-bar,
.confirmation-modal__action-bar,
.mute-modal__action-bar,
.block-modal__action-bar,
.onboarding-modal__paginator,
.error-modal__footer {
  background: darken($ui-base-color, 6%);

  .onboarding-modal__nav,
  .error-modal__nav {
    &:hover,
    &:focus,
    &:active {
      background-color: darken($ui-base-color, 12%);
    }
  }
}

.display-case__case {
  background: $white;
}

.embed-modal .embed-modal__container .embed-modal__html {
  background: $white;
  border: 1px solid lighten($ui-base-color, 8%);

  &:focus {
    border-color: lighten($ui-base-color, 12%);
    background: $white;
  }
}

.react-toggle-track {
  background: $ui-secondary-color;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background: darken($ui-secondary-color, 10%);
}

.react-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background: lighten($ui-highlight-color, 10%);
}

// Change the default color used for the text in an empty column or on the error column
.empty-column-indicator,
.error-column {
  color: $primary-text-color;
  background: $white;
}

.tabs-bar {
  background: $white;
  border: 1px solid lighten($ui-base-color, 8%);
  border-bottom: 0;

  @media screen and (max-width: $no-gap-breakpoint) {
    border-top: 0;
  }

  &__link {
    padding-bottom: 14px;
    border-bottom-width: 1px;
    border-bottom-color: lighten($ui-base-color, 8%);

    &:hover,
    &:active,
    &:focus {
      background: $ui-base-color;
    }

    &.active {
      &:hover,
      &:active,
      &:focus {
        background: transparent;
        border-bottom-color: $ui-highlight-color;
      }
    }
  }
}

// Change the default colors used on some parts of the profile pages
.activity-stream-tabs {
  background: $account-background-color;
  border-bottom-color: lighten($ui-base-color, 8%);
}

.box-widget,
.nothing-here,
.page-header,
.directory__tag > a,
.directory__tag > div,
.landing-page__call-to-action,
.contact-widget,
.landing .hero-widget__text,
.landing-page__information.contact-widget {
  background: $white;
  border: 1px solid lighten($ui-base-color, 8%);

  @media screen and (max-width: $no-gap-breakpoint) {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
}

.landing .hero-widget__text {
  border-top: 0;
  border-bottom: 0;
}

.simple_form {
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  textarea {
    &:hover {
      border-color: lighten($ui-base-color, 12%);
    }
  }
}

.landing .hero-widget__footer {
  background: $white;
  border: 1px solid lighten($ui-base-color, 8%);
  border-top: 0;

  @media screen and (max-width: $no-gap-breakpoint) {
    border: 0;
  }
}

.brand__tagline {
  color: $ui-secondary-color;
}

.directory__tag > a {
  &:hover,
  &:active,
  &:focus {
    background: $ui-base-color;
  }

  @media screen and (max-width: $no-gap-breakpoint) {
    border: 0;
  }
}

.directory__tag.active > a,
.directory__tag.active > div {
  border-color: $ui-highlight-color;

  &,
  h4,
  h4 small,
  .fa,
  .trends__item__current {
    color: $white;
  }

  &:hover,
  &:active,
  &:focus {
    background: $ui-highlight-color;
  }
}

.batch-table {
  &__toolbar,
  &__row,
  .nothing-here {
    border-color: lighten($ui-base-color, 8%);
  }
}

.activity-stream {
  border: 1px solid lighten($ui-base-color, 8%);

  &--under-tabs {
    border-top: 0;
  }

  .entry {
    background: $account-background-color;

    .detailed-status.light,
    .more.light,
    .status.light {
      border-bottom-color: lighten($ui-base-color, 8%);
    }
  }

  .status.light {
    .status__content {
      color: $primary-text-color;
    }

    .display-name {
      strong {
        color: $primary-text-color;
      }
    }
  }
}

.accounts-grid {
  .account-grid-card {
    .controls {
      .icon-button {
        color: $darker-text-color;
      }
    }

    .name {
      a {
        color: $primary-text-color;
      }
    }

    .username {
      color: $darker-text-color;
    }

    .account__header__content {
      color: $primary-text-color;
    }
  }
}

.simple_form,
.table-form {
  .warning {
    box-shadow: none;
    background: rgba($error-red, 0.5);
    text-shadow: none;
  }

  .recommended {
    border-color: $ui-highlight-color;
    color: $ui-highlight-color;
    background-color: rgba($ui-highlight-color, 0.1);
  }
}

.compose-form .compose-form__warning {
  border-color: $ui-highlight-color;
  background-color: rgba($ui-highlight-color, 0.1);

  &,
  a {
    color: $ui-highlight-color;
  }
}

.status__content,
.reply-indicator__content {
  a {
    color: $highlight-text-color;
  }
}

.button.logo-button {
  color: $white;

  svg {
    fill: $white;
  }
}

.flash-message.notice {
  border: none;
  background: #1c0043;
  color: $white;
}

.simple_form p.hint {
  text-align: center;

  strong {
    color: #fd9300;
    font-weight: 700;
  }
}

.public-layout {
  .account__section-headline {
    border: 1px solid lighten($ui-base-color, 8%);

    @media screen and (max-width: $no-gap-breakpoint) {
      border-top: 0;
    }
  }

  .header,
  .public-account-header,
  .public-account-bio {
    box-shadow: none;
  }

  .public-account-bio,
  .hero-widget__text {
    background: $account-background-color;
    border: 1px solid lighten($ui-base-color, 8%);
  }

  .header {
    background: $ui-base-color;
    border: 1px solid lighten($ui-base-color, 8%);

    @media screen and (max-width: $no-gap-breakpoint) {
      border: 0;
    }

    .brand {
      &:hover,
      &:focus,
      &:active {
        background: lighten($ui-base-color, 4%);
      }
    }
  }

  .public-account-header {
    &__image {
      background: lighten($ui-base-color, 12%);

      &::after {
        box-shadow: none;
      }
    }

    &__bar {
      &::before {
        background: $account-background-color;
        border: 1px solid lighten($ui-base-color, 8%);
        border-top: 0;
      }

      .avatar img {
        border-color: $account-background-color;
      }

      @media screen and (max-width: $no-columns-breakpoint) {
        background: $account-background-color;
        border: 1px solid lighten($ui-base-color, 8%);
        border-top: 0;
      }
    }

    &__tabs {
      &__name {
        h1,
        h1 small {
          color: $white;

          @media screen and (max-width: $no-columns-breakpoint) {
            color: $primary-text-color;
          }
        }
      }
    }

    &__extra {
      .public-account-bio {
        border: 0;
      }

      .public-account-bio .account__header__fields {
        border-color: lighten($ui-base-color, 8%);
      }
    }
  }
}

.notification__filter-bar button.active::after,
.account__section-headline a.active::after {
  border-color: transparent transparent $white;
}

.hero-widget,
.box-widget,
.contact-widget,
.landing-page__information.contact-widget,
.moved-account-widget,
.memoriam-widget,
.activity-stream,
.nothing-here,
.directory__tag > a,
.directory__tag > div,
.card > a,
.page-header,
.compose-form .compose-form__warning {
  box-shadow: none;
}

.audio-player .video-player__controls button,
.audio-player .video-player__time-sep,
.audio-player .video-player__time-current,
.audio-player .video-player__time-total {
  color: $primary-text-color;
}

// ------------------------------- customize ---------------------------------------

body, body.admin {
  font-family: mastodon-font-display;
  background-image: url('../images/brighteon-social/about/bg_pattern.png'), -webkit-gradient(linear, 0 0, 0 bottom, from(#2040a4), to(#000a3d));
  background-image: url('../images/brighteon-social/about/bg_pattern.png'), -moz-linear-gradient(#2040a4, #000a3d);
  background-image: url('../images/brighteon-social/about/bg_pattern.png'), linear-gradient(#2040a4, rgb(0, 10, 61));
  background-color: unset;
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.block-button.primary-button, button.primary-button, .button.primary-button {
  background-color: #39b54a;

  &:hover {
    background-color: lighten(#39b54a, 5%);
  }
}

.simple_form {
  .input.with_label {
    .label_input > label {
      color: $white;
    }
  }

  .hint code {
    color: $ui-highlight-color;
  }
}

body .muted-hint a, .admin-wrapper .content .muted-hint a {
  color: #fd9300;
}

.card__bar {
  background-color: #08083f;

  .display-name strong {
    color: $white;
  }
}

.card > a:hover .card__bar {
  background-color: #050528;
}

.table th, .table td {
  background-color: #2a53d2;
  color: $white;
}

.table > tbody > tr:nth-child(odd) > td, .table > tbody > tr:nth-child(odd) > th {
  background: lighten(#2a53d2, 5%);
}

.numeric-list {
  list-style: decimal;
  padding-left: 20px;
}

.dot-list {
  list-style: disc;
  padding-left: 20px;

  & > li {
    margin-bottom: 8px;
  }
}

.logo-mobile {
  width: 150px;
}

.status-card__title,
.status-card__description {
  color: $ui-highlight-color;
}

.status__relative-time,
.status__visibility-icon {
  float: none;
}

.status-card__image {
  flex: 0 0 50%;
}

.status-card.compact .status-card__image {
  flex: 0 0 50%;
}

.status-card.compact .status-card__title {
  white-space: initial;
  height: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.setting-toggle__label,
.column-settings__section,
.column-settings__row .text-btn,
.notification__filter-bar button.active,
.notification__filter-bar a.active,
.account__section-headline button.active,
.account__section-headline a.active,
.notification__filter-bar button,
.notification__filter-bar a,
.account__section-headline button,
.account__section-headline a,
.notification__message {
  color: $ui-highlight-color;
}

.public-layout {
  min-height: inherit;

  .header {
    width: 960px;
    background: transparent;
    border: none;
    height: 4rem;
    margin: auto;
    padding: 20px 0;

    & > div {
      flex: 1 1 50%;
    }

    .nav-left {
      height: 40px;
      margin-right: 15px;

      .landing__menu {
        width: 100%;
        padding-right: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu_item {
          color: $white;
          font-weight: 600;
          text-transform: uppercase;

          a {
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }

    .nav-right {
      margin-left: 15px;

      .simple_form {
        .fields-group {
          margin: 0;

          & > * {
            width: 30%;
          }

          .input, .button {
            margin: 0;
          }

          input {
            height: 44px;
            &::placeholder {
              color: #acacac;
            }
          }
        }
        p.hint.subtle-hint {
          a {
            color: $white;
          }
        }
      }

      .back-to-landing {
        height: 40px;
        line-height: 32px;
      }
    }
  }

  .footer {
    width: 960px;
    color: $white;

    a {
      color: $white;
    }
  }
}

.navigation-bar {
  .navigation-bar__inner {
    display: block;
    width: 1240px;
    margin: auto;

    .head-logo {
      display: flex;
      width: 160px;
      align-items: center;
      cursor: pointer;
      user-select: none;

      img {
        width: 100%;
      }
    }

    @media (min-width: 500px) {
      .head-logo {
        width: 300px;
      }
    }

    .search-container {
      padding: 0 15px;
    }

    .spacer {
      max-width: 100px;
    }

    .search {
      margin: 0;
    }
    .search__input {
      background-color: #677ECA;
      border-radius: 20px;
      color: $white;
      border: none;
      height: 38px;
      &::placeholder {
        color: $white;
      }

      &:focus {
        background-color: $white;
        color: #666666;
        &::placeholder {
          color: #666666;
        }
      }
    }

    .search__input:placeholder-shown + .search__icon > .fa-search {
      color: #ffffff;
      opacity: 1;
    }

    .search__input:placeholder-shown:focus + .search__icon > .fa-search {
      color: #666666;
      opacity: 1;
    }

    .search__input:not(:placeholder-shown) + .search__icon > .fa-times-circle {
      color: #ffffff;
      opacity: 1;
    }

    .search__input:not(:placeholder-shown):focus + .search__icon > .fa-times-circle {
      color: #666666;
      opacity: 1;
    }

    button.standard {
      min-width: 100px;
      height: 38px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 500;
      background-color: transparent;
      color: $white;
      border: 1px solid $white;

      &:hover {
        background-color: #677ECA;
      }

      &.register {
        background-color: #39B54A;
        border: none;

        &:hover {
          background-color: #3AC64D;
        }
      }

      &.primary-button {
        background-color: #39b54a;
        border: none;
      }
    }

    .donate {
      display: none;
    }

    @media (min-width: 1000px) {
      .donate {
        display: block;
      }
    }

    .search__icon {
      &.expanded {
        .fa.active {
          color: #666666;
        }
      }
      .fa {
        top: 10px;
        &.active {
          color: $white;
          opacity: 1;
        }
      }
      .fa-times-circle {
        top: 11px;
      }
    }

    .icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 24px;

        &.fa-bell {
          font-size: 20px;
        }

        &.fa-gear {
          font-size: 22px;
        }
      }
    }

    .mobile-search-container {
      margin-top: 10px;
    }
    .drawer__pager {
      overflow: visible;
      .drawer__inner {
        height: 300px;
        z-index: 3;
        background-color: $white;
        border: 0;
        border-radius: 0.25rem;

        .trends__header,
        .trends .account,
        .search-results__header,
        .search-results__section,
        .search-results__section h5 {
          background-color: #2040a4;
          color: $white;
        }
        .notification__message,
        .notification__message .fa,
        .status__action-bar__counter__label,
        .status__content p,
        .status__display-name strong,
        button {
          color: $white;
        }

        button.icon-button i.fa-retweet {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='#FFFFFF' stroke-width='0'/><path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='#FFFFFF' stroke-width='0'/></svg>")
        }

        .notifications-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $white;
          padding: 0 10px;

          .mark_as_read {
            min-width: 100px;
            height: 38px;
            font-size: 14px;
            font-weight: 500;
            background-color: transparent;
            color: #ffffff;
            border: 0;
          }
        }
      }
    }
  }

  &.signed_in {
    .spacer {
      max-width: unset;
    }
  }

  .account__avatar {
    border-radius: 50%;
    border: 2px solid white;
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
  }

  .notification-bell {
    position: relative;
    overflow: visible;

    .drawer__pager {
      position: absolute;
      left: -240px;
      right: 0;

      .drawer__inner {
        background-color: #2040a4;
      }
    }
    i.icon-with-badge__badge {
      background-color: red;
      border-radius: 50%;
      border: 2px solid $white;
      color: white;
      font-size: 0.75rem;
      height: 1rem;
      width: 1rem;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// page by page

.about, .home {
  .hero-widget__text,
  .hero-widget__footer {
    background-color: inherit;
  }

  .hero-widget__text,
  .hero-widget__footer {
    border: none;
  }

  .hero-widget__footer strong {
    color: white;
  }

  .hero-widget__counter span {
    text-transform: capitalize;
  }

  .hero-widget {
    border: 1px solid;
    border-radius: 4px;
  }

  .box-widget,
  .directory__tag > a,
  .hero-widget {
    background-color: rgba(8, 8, 63, 0.25);
    border-color: #6e67bc;
  }

  .button.button-login {
    background: #08083f;
  }

  .button.button-signup {
    background: #39b54a;
  }

  .simple_form .input.boolean label a,
  .simple_form .hint a {
    color: $white;
  }

  .simple_form {
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    textarea {
      color: #322947;
      &::placeholder {
        color: #acacac;
      }
    }
  }

  .simple_form .label_input__append {
    color: #acacac;
  }

  .directory__tag > a {
    &:hover,
    &:active,
    &:focus {
      background: inherit;
    }
  }

  .directory__tag h4 {
    font-size: 16px;
    color: #ffffff;
  }

  .hero-widget__text a {
    color: $white;
    text-decoration: underline;
  }

  .landing__brand {
    padding: 25px 0;
    justify-content: start;

    .brand {
      width: 100%;
      display: flex;

      img {
        width: 100%;
      }
    }
  }

  .landing__menu {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu_item {
    color: $white;
    font-weight: 600;
    text-transform: uppercase;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.home {
  .logo-container {
    margin-top: 30px;
    margin-right: 90px;

    h1 {
      justify-content: start;

      a {
        width: 100%;
        padding: 0;

        img {
          width: 100%;
        }
      }
    }
  }
  .description {
    color: $white;
    font-size: 22px;
    line-height: 32px;
  }
  .users_count {
    margin-top: 3rem;
    color: $white;
    font-size: 2rem;
  }
}

.about-more, .contact {
  .content-overlay {
    margin: auto;
    width: 680px;
    background-color: rgba(8, 8, 63, 0.25);
    position: relative;

    .overlay {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0.25;
    }

    .content {
      padding: 3.5rem 6.5rem;
      color: white;
      font-size: 15px;

      img {
        margin: auto;
        display: block;
      }

      .contact {
        font-size: 25px;
        font-weight: 600;
        margin: 35px 0 25px;
      }

      p {
        margin: 1rem 0;

        a {
          color: $white;
        }
      }

      textarea {
        width: 100%;
        height: 136px;
        border-radius: 0.25rem;
        padding: 10px;
        &::placeholder {
          color: #666666;
        }
      }

      button {
        width: 130px;
        background-color: #39b54a;
        margin-top: 1rem;
      }
    }
  }

  // for errors especially
  h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
  }
}

.auth {
  .simple_form .input.with_label .label_input > label {
    color: $white;

    a {
      color: $white;
    }
  }

  .simple_form button {
    background-color: #00c642;
    text-transform: capitalize;
  }
}

.app-body {
  .getting-started__footer {
    a {
      color: $white;
    }
    p {
      color: $white;
      a {
        color: $white;
      }
    }
  }
  .navigation-bar strong,
  .navigation-bar span {
    color: $white;
  }
  .compose__action-bar-dropdown {
    .icon-button {
      color: $white;
    }
  }
  .column-link--transparent {
    color: $white;
  }
  .status__display-name strong {
    color: inherit;
  }
  .status__action-bar {
    .icon-button {
      color: $black;
    }
  }
  button.column-header__button[aria-label="Show settings"] {
    color: $black;
  }

  .compose-form {
    padding: 0;
  }
  .compose-form__autosuggest-wrapper {
    border: none;
  }
  .column-link--transparent {
    border-radius: 0.25rem;
  }
  .column-link--transparent.active {
    background-color: rgba(8, 8, 63, 0.25);
  }
  .columns-area__panels {
    margin-top: 1rem;
    min-height: unset;
  }
  .profile_box {
    border-radius: 0.25rem;
    overflow: hidden;

    .profile_box-header {
      position: relative;
      padding-top: 62.5%;

      &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      img {
        width: 100%;
      }

      .button-edit-profile {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        border-radius: 0.25rem;
        background-color: $white;
        color: $theme-color;
        text-transform: unset;
      }
    }
    .profile_box-avatar {
      margin-top: calc(-1.5rem - 2px);
      margin-bottom: calc(-1.5rem - 2px);

      .account__avatar {
        margin-left: 1.5rem;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $white;
      }
    }
    .profile_box-body {
      padding: 0.5rem;
      background-color: rgba(8, 8, 63, 0.25);
      color: $white;
    }
  }
  .column-menu {
    padding: 15px;
    font-size: 16px;
    color: #888;
  }
  .column-link {
    padding: 12.5px 15px;
  }
  .dropdown-menu {
    background-color: #2040a4;

    .dropdown-menu__item {
      a {
        background-color: rgba(8, 8, 63, 0.25);
      }
    }
  }
  .columns-area__panels__pane__inner {
    position: static;
  }
  .navigation-panel {
    padding-top: 10px;
  }
  .overflow-y-auto {
    overflow-y: auto;
  }
  .introduction {
    background: unset;

    .react-swipeable-view-container > * {
      align-items: stretch;
      height: unset;
    }

    .introduction__dots {
      .introduction__dot {
        background-color: #1c4994;

        &.active {
          background-color: $white;
        }
      }
    }

    .introduction__text {
      border: none;

      h3 {
        text-transform: uppercase;
      }

      h3, p {
        color: #333333;
      }
    }

    .introduction__text--columnized > div {
      padding: 25px 25px 10px;
    }
  }

  .scrollable-directory {
    .account__header__content {
      color: #737373;
    }
    .accounts-table__count small {
      color: $black;
    }
    .directory__card__extra .accounts-table__count,
    .directory__card__bar .display-name span,
    .icon-button {
      color: #2040a4;
    }
    .radio-button__input.checked {
      border-color: #2040a4;
      background: #2040a4;
    }
    .directory__list {
      grid-gap: 10px 2px;
    }
    .load-more {
      border: 1px solid #c0cdd9;
      margin: 1rem;
      width: calc(100% - 2rem);
      font-weight: bold;
      color: #2040a4;
    }
  }
  .regeneration-indicator {
    flex-direction: row;
  }

  .regeneration-indicator__figure,
  .regeneration-indicator__figure img {
    width: 260px;
    height: auto;
  }
}

.public {
  .header {
    height: auto;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .page-header p {
    color: $black;
  }
}

.admin {
  .admin-wrapper {
    .sidebar-wrapper__inner {
      background: unset;
    }

    .sidebar {
      & > ul > li > a.selected {
        background-color: #2a53d2;

        & + ul {
          border-radius: 0;
          background-color: #2a53d2;

          & > li.selected > a {
            background-color: #3366ff;
          }
        }
      }

      ul a:hover {
        background-color: #3366ff;
        color: $white;
      }
    }

    .content {
      .fields-group h6 {
        color: $white;
      }
      p strong {
        color: $white;
      }
      .filters {
        .filter-subset {
          strong, a.selected {
            color: $white;
            border-color: $white;
          }
        }
      }
    }
  }

  .simple_form {
    .recommended {
      color: $white;
      border-color: $white;
      background-color: transparent;
    }

    .input.with_floating_label .label_input > label,
    .input.radio_buttons .radio label,
    .input.with_label.file .label_input__wrapper > input,
    .hint a,
    .input.with_block_label label {
      color: $white;
    }
  }

  .batch-table__toolbar, .batch-table__row {
    background-color: $dark-text-color;
    border-color: transparent;
    margin-bottom: 1px;

    .account__display-name strong {
      color: $white;
    }
    .accounts-table__count {
      color: $white;
    }
    .display-name__account {
      color: #3366ff;
    }
  }
}

.profile,
.statuses {
  .dropdown-menu {
    background-color: #2040a4;
    &__item a {
      background-color: rgba(8, 8, 63, 0.25);
    }
  }
  #mastodon-statuses {
    .status__wrapper {
      border-left: 1px solid #c0cdd9;
      border-right: 1px solid #c0cdd9;
      border-bottom: 1px solid #c0cdd9;
      .status {
        border: 0;
      }
    }
    & > div:first-child {
      .status__wrapper {
        border-top: 1px solid #c0cdd9;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
    }
    & > div:last-child {
      .status__wrapper {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  .container {
    max-width: 1240px;
    padding: 0;
  }
  .public-account-header {
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (max-width: 1240px) {
      border-radius: 0;
    }
  }
  .public-account-header__image {
    border-radius: 0;
  }
  .public-account-header__bar {
    display: block;
    background-color: $white;
    margin-top: 0;

    a.avatar {
      margin-top: -30px;
      margin-bottom: -30px;
      display: block;
      width: 150px;
      height: 150px;
      flex: 0 0 auto;
      padding: 0;
      margin-left: 15px;

      img {
        width: 134px;
        height: 134px;
        border: 8px solid $white;
        border-radius: 50%;
      }
    }

    @media screen and (min-width: 751px) {
      .public-account-header__tabs__tabs {
        margin-right: 60px;
      }
    }
    @media screen and (max-width: 600px) {
      .public-account-header__tabs__tabs {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .public-account-header__tabs__tab {
          padding-left: 0;
          padding-right: 0;
          align-items: flex-end;
        }
      }
    }

    @media screen and (max-width: 750px) {
      .public-account-header__tabs__tabs {

        .public-account-header__tabs__tab {
          align-items: flex-end;
        }
      }
    }

    .button.logo-button {
      margin: 15px;
    }
  }

  .button.logo-button {
    svg {
      display: none;
    }

    border-radius: 1.5em;
    color: #08083f;
    border: 1px solid #08083f;
    background-color: transparent;
  }

  .compose-form {
    padding: 0;
    margin-bottom: 10px;
  }
  .public-account-header__tabs {
    margin-left: 10px;
  }
  .public-account-header__tabs__name {
    padding-top: 15px;
    padding-bottom: 15px;

    h1 {
      color: $black;
      text-shadow: none;

      small {
        color: $black;
      }
    }
  }
  .public-account-header__tabs__tab {
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 5px 35px;

    a {
      color: $black;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 4px;
      border-bottom: 2px solid transparent
    }

    &.active a {
      color: #0000EE;
      border-color: #0000EE;
    }
  }
  .public-account-header__tabs__edit-profile {
    button {
      padding: 0.75em 1.5em;
      border-radius: 1.5em;
      color: #08083f;
      border: 1px solid #08083f;
      background-color: transparent;
    }
  }

  .public-account-body {
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 1000px) {
      border-radius: 0;
    }

    hr {
      margin: 0;
    }
  }

  .public-layout {
    @media screen and (max-width: 600px) {
      .public-account-header__extra {
        display: none;
      }
    }
  }

  .public-layout .originally-grid {
    //grid-template-columns: minmax(298px, 1fr) minmax(300px, 3fr);
    display: flex;
    .column-0 {
      order: 2;
    }
    .column-1 {
      order: 1;
    }
    .column-container {
      padding: 10px;
    }

    @media screen and (min-width: 768px) {
      .column-0 {
        display: inline-block;
        width: 66.66%;
      }
      .column-1 {
        display: inline-block;
        width: 33.33%;
      }
    }

    @media screen and (max-width: 767px) {
      display: block;

      .column-0 {
        order: 1;
      }
      .column-1 {
        order: 2;
      }
    }
  }

  .public-account-bio {
    margin: 0;
    border: none;

    &__title {
      font-size: 19px;
      font-weight: 500;
      color: $black;
      padding: 15px 0 0;
    }
    .account__header__content {
      font-size: 14px;
      line-height: 1.3125;
      padding: 15px 0;
    }
    &__extra {
      padding: 15px 0;
      color: $black;
    }
  }

  .public-account-counts {
    background-color: $white;
    padding: 10px 15px;

    .details-counters {
      .counter {
        flex: 1 1 auto;

        .counter-number {
          color: var(--color_brand);
          font-size: 22px;
          font-weight: 400;
          letter-spacing: -1px;
          margin-bottom: 5px;
        }
        .counter-label {
          color: $black;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }

  .placeholder-widget {
    border-color: $white;
  }

  .activity-stream {
    .status__avatar {
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .public-account-recent-media {
    padding-bottom: 15px;
  }
  .public-account-recent-media__avatar {
    display: inline-block;
    width: 25%;
    padding-top: 25%;
    position: relative;

    & > div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      overflow: hidden;
      border-radius: 0.25rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .public-account-recent-media__title {
    font-size: 19px;
    font-weight: 500;
    color: $black;
    padding: 15px 0;
  }
}

.profile,
.statuses,
.app-body {
  .status__reply {
    position: relative;
    padding: 15px 0 0;
    .status__avatar {
      left: -51px;
      top: 15px;
    }
    &-box {
      border-radius: 0.25rem;
      overflow: hidden;

      .textarea {
        background-color: #ECECEC;
        color: #454545;
        width: calc(100% - 24px);
        font-size: 16px;
        line-height: 24px;
        padding: 6px 12px;
        border: 0;
        &:focus {
          outline: 0;
        }

        &:placeholder-shown + button {
          display: none;
        }
      }
      .btn-post {
        position: absolute;
        right: 3px;
        bottom: 3px;
        height: 30px;
        border-radius: 14px;
        background-color: #2040a4;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
      }
    }
  }
}

.relationships {
  .container {
    max-width: 1240px;
    padding: 0;
  }
  .header {
    width: 100%;
  }
  .public-account-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
    overflow: hidden;

    @media screen and (max-width: 1240px) {
      border-radius: 0;
    }
  }
  .public-account-header__image {
    border-radius: 0;
  }
  .bar {
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    border-left: 0;
    border-right: 0;
  }
  .cards-container {
    background-color: #ffffff;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .card {
      margin: 0;
      & > a {
        border: 1px solid #e0e0e0;
      }

      & > a:hover .card__bar {
        background-color: transparent;
      }
      &__bar {
        background-color: transparent;

        .display-name {
          strong {
            color: $black;
          }
          span {
            color: #3370e0;
          }
        }
      }
    }
  }
  .public-account-header__bar {
    display: block;
    background-color: $white;
    margin-top: 0;

    a.avatar {
      margin-top: -90px;
      display: block;
      width: 150px;
      height: 150px;
      flex: 0 0 auto;
      padding: 0;
      margin-left: 15px;

      img {
        width: 134px;
        height: 134px;
        border: 8px solid $white;
        border-radius: 50%;
        box-shadow: 0 0 15px;
      }
    }

    @media screen and (max-width: 600px) {
      .public-account-header__tabs__tabs {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .public-account-header__tabs__tab {
          padding-left: 0;
          padding-right: 0;
          align-items: flex-end;
        }
      }
    }

    @media screen and (max-width: 750px) {
      .public-account-header__tabs__tabs {

        .public-account-header__tabs__tab {
          align-items: flex-end;
        }
      }
    }

    .button.logo-button {
      margin: 15px;
    }
  }

  .button.logo-button {
    svg {
      display: none;
    }
  }

  .compose-form {
    padding: 0;
    margin-bottom: 10px;
  }
  .public-account-header__tabs {
    margin-left: 10px;
  }
  .public-account-header__tabs__name {
    padding-top: 15px;
    padding-bottom: 15px;

    h1 {
      color: $black;
      text-shadow: none;

      small {
        color: $black;
      }
    }
  }
  .public-account-header__tabs__tab {
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 5px 35px;

    a {
      color: $black;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 4px;
      border-bottom: 2px solid transparent
    }

    &.active a {
      color: #0000EE;
      border-color: #0000EE;
    }
  }
  .public-account-header__tabs__edit-profile {
    button {
      padding: 0.75em 1.5em;
      border-radius: 1.5em;
      color: #08083f;
      border: 1px solid #08083f;
      background-color: transparent;
    }
  }

  .public-account-body {
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 1000px) {
      border-radius: 0;
    }

    hr {
      margin: 0;
    }
  }

  .public-layout {
    @media screen and (max-width: 600px) {
      .public-account-header__extra {
        display: none;
      }
    }
  }

  .public-layout .originally-grid {
    //grid-template-columns: minmax(298px, 1fr) minmax(300px, 3fr);
    display: flex;
    .column-0 {
      order: 2;
    }
    .column-1 {
      order: 1;
    }
    .column-container {
      padding: 10px;
    }

    @media screen and (min-width: 768px) {
      .column-0 {
        display: inline-block;
        width: 66.66%;
      }
      .column-1 {
        display: inline-block;
        width: 33.33%;
      }
    }

    @media screen and (max-width: 767px) {
      display: block;

      .column-0 {
        order: 1;
      }
      .column-1 {
        order: 2;
      }
    }
  }

  .public-account-bio {
    margin: 0;
    border: none;

    &__title {
      font-size: 19px;
      font-weight: 500;
      color: $black;
      padding: 15px 0 0;
    }
    .account__header__content {
      font-size: 14px;
      line-height: 1.3125;
      padding: 15px 0;
    }
    &__extra {
      padding: 15px 0;
      color: $black;
    }
  }

  .public-account-counts {
    background-color: $white;
    padding: 10px 15px;

    .details-counters {
      .counter {
        flex: 1 1 auto;

        .counter-number {
          color: var(--color_brand);
          font-size: 22px;
          font-weight: 400;
          letter-spacing: -1px;
          margin-bottom: 5px;
        }
        .counter-label {
          color: $black;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }

  .placeholder-widget {
    border-color: $white;
  }

  .activity-stream {
    .status__avatar {
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .public-account-recent-media {
    padding-bottom: 15px;
  }
  .public-account-recent-media__avatar {
    display: inline-block;
    width: 25%;
    padding-top: 25%;
    position: relative;

    & > div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      overflow: hidden;
      border-radius: 0.25rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .public-account-recent-media__title {
    font-size: 19px;
    font-weight: 500;
    color: $black;
    padding: 15px 0 ;
  }
}
