.public-account-recent-media
  .public-account-recent-media__title
    = t('accounts.recent_media')
  - unless statuses_with_recent_media.empty?
    .public-account-recent-media__avatars
      - statuses_with_recent_media.each do |status|
        .public-account-recent-media__avatar
          = link_to(short_account_status_url(status.account, status), target: '_blank', rel: 'noopener noreferrer') do
            - if status.account.avatar_original_url
              = image_tag status.account.avatar_original_url, alt: '', class: 'u-photo account__avatar'
            - else
              = image_tag status.account.avatar_static_url, alt: '', class: 'u-photo account__avatar'
